.pageheader {
    text-align: center;
    padding: 60px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWl2mx-hGAUScuyGyUFlHRZwQRQwzNTZPu9R9iM7heho6K7YPo");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}
